<div ng-cloak>

  <h1 class="md-display-3">Implementations</h1>
  <br>

  <md-button href="#/autocomplete">
    Autocomplete
  </md-button>

  <br>

  <md-button class="md-raised" href="#/date-picker">
    DatePicker
  </md-button>

  <br>

  <md-button class="md-raised md-primary" href="#/bottom-sheet">
    Bottom Sheet
  </md-button>

  <br>

  <md-button  href="#/icon">
    Icon
  </md-button>

  <br>

  <md-button class="md-primary" href="#/input">
    Input
  </md-button>

  <br>

  <md-button class="md-raised md-warn" href="#/chips">
    Chips
  </md-button>

  <br>

  <md-button class="md-raised md-warn" href="#/card">
    Cards
  </md-button>

  <br>

  <md-button class="md-raised md-warn" href="#/dialog">
    Dialog
  </md-button>

  <br>

  <md-button class="md-raised md-accent" href="#/form-dialog">
    Form Inside Dialog
  </md-button>

</div>
