<h1 class="md-display-1"> Angular Material Samples </h1>
<div layout="row" layout-wrap ng-cloak>
  <div flex="25">
    <md-button href="#/autocomplete">
      Autocomplete
    </md-button>
  </div>
  <div flex="25">
    <md-button class="md-raised" href="#/date-picker">
      DatePicker
    </md-button>
  </div>
  <div flex="25">
    <md-button class="md-raised md-primary" href="#/bottom-sheet">
      Bottom Sheet
    </md-button>
  </div>
  <div flex="25">
    <md-button  class="md-raised" href="#/icon">
      Icon
    </md-button>
  </div>
  <div flex="25">
    <md-button class="md-raised md-primary" href="#/input">
      Input
    </md-button>
  </div>
  <div flex="25">
    <md-button class="md-raised md-warn" href="#/chips">
      Chips
    </md-button>
  </div>
  <div flex="25">
    <md-button class="md-raised md-warn" href="#/card">
      Cards
    </md-button>
  </div>
  <div flex="25">
    <md-button class="md-raised md-warn" href="#/dialog">
      Dialog
    </md-button>
  </div>
  <div flex="25">
    <md-button class="md-raised md-accent" href="#/form-dialog">
      Form Inside Dialog
    </md-button>
  </div>
  <div flex="25">
    <md-button class="md-raised md-warn" href="#/toolbar">
      Toolbar
    </md-button>
  </div>
  <div flex="25">
    <md-button class="md-raised md-warn" href="#/menubar">
      Menu Bar
    </md-button>
  </div>
  <div flex="25">
    <md-button class="md-raised md-accent" href="#/radio">
      Radio Button
    </md-button>
  </div>
  <div flex="25">
    <md-button class="md-raised md-primary" href="#/select">
      Select
    </md-button>
  </div>
  <div flex="25">
    <md-button class="md-raised md-primary" href="#/switch">
      Switch
    </md-button>
  </div>
  <div flex="25">
    <md-button class="md-raised md-primary" href="#/tabs">
      Tabs
    </md-button>
  </div>
  <div flex="25">
    <md-button class="md-raised md-primary" href="#/sidenav">
      Side Nav
    </md-button>
  </div>
  
   <div flex="25">
    <md-button class="md-raised md-primary" href="#/subheader">
      Sub Header
    </md-button>
  </div>
  
   <div flex="25">
    <md-button class="md-raised md-primary" href="#/swipe">
      Swipe
    </md-button>
  </div>
</div>
