HTMLJSCSS
<div ng-controller="IconController" ng-cloak layout="column" layout-margin  ng-cloak>
    <p>The simplest way to display a single SVG icon is by referencing it by URL:</p>
    <p>
        <md-icon md-svg-src="{{ insertDriveIconURL }}"
                 aria-label="Insert Drive Icon">
        </md-icon>
    </p>
    <p>Style the icon size and color with CSS:</p>
    <p>
      <md-icon md-svg-src="src/img/build.svg"            class="s24" aria-label="Cake"    ></md-icon>
      <md-icon md-svg-src="src/img/build.svg"            class="s36" aria-label="Android "></md-icon>
      <md-icon md-svg-src="src/img/build.svg" class="s48" aria-label="Cart"    ></md-icon>
    </p>
</div>